* , *::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./assets/img/Christmas.jpg) no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    text-align: center;
} 
.box{
    width: 900px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.625);    
}
h1{
    color: rgb(169, 163, 40);    
    margin-top: 50px;
    font-family: sans-serif;
}
h3{
    color: white;
    margin-top: 20px;
}
h4{
    color: rgb(169, 163, 40);    
}
.first-row{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;    
}
.text-input{
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    border: 3px solid rgb(169, 163, 40); 
}
.first-h4{
    margin-right: 60px;
    margin-top: 10px;
    
}

.second-row{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;     
}
.text-input1{
    width: 400px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    border: 3px solid rgb(169, 163, 40);   
}

.third-row{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;     
}
.number-input{
    width: 130px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);   
    color: white;
    border: 3px solid rgb(169, 163, 40); 
}

.fourth-row{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;     
}
.checkbox{
    transform: translateX(-55px);
    color: white;
    padding-left: 10px;
}
.fourth-h4{
    transform: translateX(-120px);
}

.fifth-row{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;     
}
.fifth-h4{
    transform: translateX(-120px);
    margin-left: -55px;
}
.option{
    width: 70px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.005);
    color: rgb(255, 255, 255);
    margin-top: 20px;
    transform: translateX(-105px);    
}
.row{
    width: 400px;
    height: 10px;    
    transform: translateX(300px);
    border-bottom: 4px solid rgb(169, 163, 40);
}
.total{
    word-spacing: 30px;    
}
.end-row{
    transform: translateY(-15px);
    word-spacing: 60px;
}
.button-form{    
    background-color: rgba(172, 255, 47, 0.566);
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}